

.plus{
    padding: 24px 24px 16px;
    margin: 0 0 24px;
    font-size: 24px;
    background-color: #ffffff;
    border: 2px solid #C8C8C8;
    border-radius: 5px;
    color: #C8C8C8;
    text-align: left;
    span {
        padding: 0 14px;
    }
}
