@use "../abstracts/container";

.tasks {
  @extend %container;
  padding: 24px 10px 0;
  &__missions {
    padding: 26px 78px 24px 72px;
  }
  &__list {
    display: flex;
    // margin-bottom: 8px;
    padding: 24px 24px 16px;
    font-size: 24px;
    background-color: #fff2dc;
    border: 2px solid #c8c8c8;
    border-radius: 5px 5px 0 0;
    color: #000000;
    text-align: left;
    i {
      line-height: 36px;
    }
    .fa-square {
      color: #ffffff;
    }
    .fa-star {
      margin-left: auto;
      color: #f5a623;
    }
    .fa-pen {
      margin: 0 32px;
      color: #4a90e2;
    }
    span {
      padding: 0 14px;
    }
  }
  .accordion-body {
    background: #f2f2f2;
    box-shadow: 0 4px 4px 0 #c8c8c8;
    border-radius: 5px;
  }
  &__time {
    margin-left: 8px;
    background-color: #ffffff;
    padding: 8px 16px;
    width: 165px;
    height: 35px;
  }
  &__data {
    background-color: #ffffff;
    padding: 8px 16px;
    width: 165px;
    height: 35px;
    margin-left: 24px;
    margin-top: 16px;
  }
  &__upload {
    padding: 8px 16px;
    width: 165px;
    height: 35px;
    margin-left: 24px;
    margin-top: 16px;
  }
  &__comment {
    textarea {
      padding: 8px 16px;
      width: 445px;
      height: 120px;
      margin-left: 24px;
      margin-top: 16px;
    }
  }
  &__decidion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 60px;
    text-align: center;
  }
  &__cancel {
    line-height: 60px;
    background-color: #ffffff;
    color: #d0021b;
    font-size: 24px;
    span {
      margin-left: 14px;
    }
  }
  &__save {
    line-height: 60px;
    background-color: #4a90e2;
    color: #ffffff;
    font-size: 24px;
    span {
      margin-left: 14px;
    }
  }
}
