@use "../abstracts/breakpoint";
@use "../abstracts/container";

.header {
  height: 76px;
  background-color: #4a90e2;

  &__container {
    display: grid;
    column-gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    @extend %container;
  }
  &__status {
    border-bottom: 5px solid transparent;
    margin: 0 30px;
    text-align: center;
    line-height: 71px;
    color: #00408b;
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    &.active {
      border-color: #00408b;
      color: #ffffff;
    }
  }
}
